/* Header Styles */
.App-header {
    background-color: #B0E0E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    width: 100%;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    background-color: #ffeccc;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  /* Adjust header layout on smaller screens */
  @media (max-width: 768px) {
    .App-header {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  
  